@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');
:root{
    --primary-color-dark:#21519E;
    --acent-color-light:#fff;
    --acent-color-dark:#000;
    --acent-color-dark_alpha:#000000ab;
}
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    display: flex;
    gap:0.5rem;
}
a{
    text-decoration: none;
    color:var(--acent-color-light);
    font-size: 1.2rem;
}

body,html{
    max-width: 100vw;
    overflow-x: hidden;
    color:var(--acent-color-light);
    font-family: 'Archivo', sans-serif;
    
}

.navbar{
    position: fixed;
    width:100svw;
    height: 5rem;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    background: var(--primary-color-dark);
    align-items: center; 
}
.navbar .logo-wrapper{
    width:4rem;
    font-family: "roboto";
    font-weight: 500;
    position: relative;
    gap: 0.5rem;
    margin-left: 1rem;
}
.navbar .logo-wrapper img{
    width:100%;
    aspect-ratio: 1;
    position: relative;
}
.navbar .logo-wrapper::before{
    content: "New Alipore College";
    position: absolute;
    left:110%;
    font-size: 1.4rem;
}
.navbar .navigation-section{
    margin-right: 2rem;
    position: absolute;
    background-color:var(--primary-color-dark);
    width:100svw;
    top:100%;
    transition: 0.5s;
    transform-origin: top;
    transform: scale(1,0);
    z-index: 10;
    border-top: 1px solid var(--acent-color-light);
}
.navbar  input[type="checkbox"]{
    width:2rem;
    height: 2rem;
    position: absolute;
    opacity: 0;
    z-index: 999;
    right:2rem;
    cursor: pointer;
}
.navbar .hamburger-menu{
    width:2rem;
    height:2rem;
    position: relative;
    margin-right: 2rem;
}
.navbar .hamburger-menu .line{
    position: absolute;
    width:100%;
    height: 0.2rem;
    --radius:2px;
    background: var(--acent-color-light);
    border-radius: var(--radius);
    transform-origin: left center;
    transition: transform 0.1s ease-in-out;
    
}
.navbar .hamburger-menu .line-2{
    top:0.9rem;
    transition: transform 0s ease-in-out;
}
.navbar .hamburger-menu .line-3{
    bottom: 0;
    transform-origin: left center;
    transition: transform 0.1s ease-in-out;
}
.navbar   input[type="checkbox"]:checked ~ .hamburger-menu .line-1{
    transform: rotate(43deg) translate(0.3rem);   
}
.navbar   input[type="checkbox"]:checked ~  .hamburger-menu .line-2{
    transform: translate(300%);
}
.navbar   input[type="checkbox"]:checked ~  .hamburger-menu .line-3{
    transform:rotate(-43deg) translate(0.3rem);
}
.navbar   input[type="checkbox"]:checked ~.navigation-section{
    transform: scale(1,1);
}
.navbar .navigation-section .nav-list{
    flex-direction: column;
    position: relative;
    width:100svw;
    padding:1rem 2rem;
}

.hero-section{
    position: relative;
    width:100svw;
    height:100svh;
    background-image: url("./Assets/cover.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--acent-color-light);
}
.hero-section::after{
    content: "";
    position: absolute;
    inset:0;
    width:100%;
    height:100%;
    background: #000000a9;
}
.hero-section .heading,.hero-section .button-wrapper{
    z-index: 10;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 3px #000;
    margin:0.5rem 0
}
.hero-section .heading .intro{
    font-size: 0.8rem;
    color:#f1e9e9d0;
}
.hero-section .button-wrapper .btn{
    width:8rem;
    height:2.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    background: transparent;
    color:var(--acent-color-light);
    font-weight: 500;
    border: 2px solid var(--acent-color-light);
    transition: 0.3s ease-in-out;
}
.hero-section .button-wrapper .btn:hover{
    color:var(--acent-color-dark);
    background-color: var(--acent-color-light);
}
.description-wrapper{
    position: relative;
    width:100svw;
}
.description-wrapper .summery,.about .about-info h3{
    text-align: center;
    color:var(--acent-color-dark_alpha);
    font-weight: 100;
    margin: 1rem 0;
    font-size: 2.5rem;
    position: relative;
}
.description-wrapper .summery::after,.about .about-info h3::after{
    position: absolute;
    content: "";
    bottom:-1rem;
    width:7rem;
    height:0.2rem;
    background: var(--primary-color-dark);
    left:calc(50% - 3.5rem);
}
.description-wrapper .description{
    position: relative;
    width:90svw;
    display: grid;
    grid-template-columns: 1fr;
    gap:0.5rem;
    margin:5rem auto;
}
.description-wrapper .description .info{
    min-width: 7rem;
    height: auto;
    color:var(--acent-color-dark_alpha);
    font-size: 1rem;
    line-height: 1.5;
}
.icon{
    display: flex;
    gap:0.5rem;
    color:var(--primary-color-dark);
    margin: 1rem;
    font-size: 1.2rem;
}
.about{
    display: block;
    width:100svw;
    height:70svh;
    background-image: url("./Assets/student.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about .about-info{
    position: relative;
    height: 100%;
    width:25rem;
    background-color: var(--acent-color-light);
    color:var(--acent-color-dark_alpha);
    padding: 5rem;
    line-height: 1.5;
}
.about .about-info::after{
    position: absolute;
    content: "";
    top:0;
    left:100%;
    height:0;
    width:0;
	border-right: 3rem solid transparent;
	border-bottom: 70svh solid var(--acent-color-light);
}
@media (min-width:600px){
    .description-wrapper .description{
        grid-template-columns: 1fr 1fr;
    }
}